@using FormProject.Database;
@model  FormProject.Database.Claim
<div class="container-fluid shadow bg-common">

    <!-- Claim list -->
    <div class="card-body mt-10">

        <p class="text-uppercase font-weight-bold mt-3 mb-3  header-color"><u>@Resource.Title_Understand_Issus</u></p>
        <br />
        <div class="group_material mt-3">
            <label class="">@Resource.Field_Confirm_artifact</label>
            @Html.ValidationMessageFor(m => m.Confirm_artifact, "", new { @class = "text-danger" })
            <textarea class="form-control mt-3"
                      id="Confirm_artifact"
                      name="Confirm_artifact"
                      rows="4"
                      cols="20">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Confirm_artifact))
            </textarea>
        </div>
        <div class="group_material mt-3">
            <label class="">@Resource.Field_Analysis_factor</label>
            @Html.ValidationMessageFor(m => m.Analysis_factor, "", new { @class = "text-danger" })
            <textarea class="form-control mt-3"
                      id="Analysis_factor"
                      name="Analysis_factor"
                      rows="4"
                      cols="20">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Analysis_factor))
            </textarea>
        </div>
        <div class="col-sm">
            @Html.ValidationMessageFor(m => m.Classify4M, "", new { @class = "text-danger" })
            <div class="select">
                <select class="select-text" name="Classify4M" required>
                    @foreach (var fourM in FourM.FOURM)
                    {
                        <option value="@fourM">@fourM</option>
                    }
                </select>
                <label class="select-label">@Resource.Field_Classify4M</label>
            </div>
        </div>
        <p class="text-uppercase font-weight-bold mt-3 mb-3 header-color"><u>@Resource.Title_Trace_Reason</u></p>
        <br />
        <span class="field-validation-valid text-danger"
              data-valmsg-for="Reason_occur"
              data-valmsg-replace="true">
        </span>
        <div class="group_material mt-3">
            <label class="">@Resource.Field_Reason_occur</label>
            @Html.ValidationMessageFor(m => m.Reason_occur, "", new { @class = "text-danger" })
            <textarea class="form-control mt-3"
                      id="Reason_occur"
                      name="Reason_occur"
                      rows="4"
                      cols="20">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Reason_occur))
            </textarea>
        </div>

        <br />
        <span class="field-validation-valid text-danger"
              data-valmsg-for="Reason_error"
              data-valmsg-replace="true">
        </span>
        <div class="group_material mt-3">
            <label class="">@Resource.Field_Reason_error</label>
            @Html.ValidationMessageFor(m => m.Reason_error, "", new { @class = "text-danger" })

            <textarea class="form-control mt-3"
                      id="Reason_error"
                      name="Reason_error"
                      rows="4"
                      cols="20">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Reason_error))
            </textarea>
        </div>
        <div class="group_material mt-3">
            <label class="">@Resource.Field_Step_occur</label>
            @Html.ValidationMessageFor(m => m.Step_occur, "", new { @class = "text-danger" })

            <textarea class="form-control mt-3"
                      id="Step_occur"
                      name="Step_occur"
                      rows="4"
                      cols="20">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Step_occur))
            </textarea>
        </div>

        <br />
        <p class="text-uppercase font-weight-bold mt-3 header-color"><u>@Resource.Title_Strategy</u></p>
        <br />
        @Html.HiddenFor(m => m.Strategy_IsPokayoke)
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="is_pokayoke">
            <label class="custom-control-label" for="is_pokayoke">@Resource.Label_IsPokayok</label>
        </div>
        <div class="group_material mt-3">
            <label class="">@Resource.Field_Strategy_temp</label>
            @Html.ValidationMessageFor(m => m.Strategy_temp, "", new { @class = "text-danger" })

            <textarea class="form-control mt-3"
                      id="Strategy_temp"
                      name="Strategy_temp"
                      rows="4"
                      cols="20">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Strategy_temp))
            </textarea>
        </div>
        <br />
        <div class="group_material mt-3">
            <label class="">@Resource.Field_Strategy_longtime</label>
            @Html.ValidationMessageFor(m => m.Strategy_longtime, "", new { @class = "text-danger" })

            <textarea class="form-control mt-3"
                      id="Strategy_longtime"
                      name="Strategy_longtime"
                      rows="4"
                      cols="20">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Strategy_longtime))
            </textarea>
        </div>
        <br />
        <p class="text-uppercase font-weight-bold mt-3 mb-3 header-color"><u>@Resource.Title_Strategy_follow</u></p>
        <br />

        <div class="group_material mt-3">
            @Html.ValidationMessageFor(m => m.Strategy_follow, "", new { @class = "text-danger" })

            <textarea class="form-control mt-3"
                      id="Strategy_follow"
                      name="Strategy_follow"
                      rows="4"
                      cols="20">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Strategy_follow))
            </textarea>
        </div>


        <br />
        @Html.HiddenFor(m => m.Response_occur_place)
        <p class="text-uppercase font-weight-bold mt-3 mb-3 header-color"><u>@Resource.Title_Response_Occur_place</u></p>
        <br />

        <table class="text-black">
            <tr>
                <th scope="col">@Resource.Doc_Type</th>
                <th scope="col">@Resource.Doc_Name</th>
                <th scope="col">@Resource.Doc_No</th>
                <th scope="col">@Resource.Plan</th>
                <th scope="col">@Resource.Infact</th>
                <th scope="col">@Resource.PIC</th>
            </tr>

            @{
                var text = "";
                for (int i = 1; i <= 8; i++)
                {
                    if (i == 1)
                    {
                        text = DocumentType.BANVE;
                    }
                    else if (i == 2)
                    {
                        text = DocumentType.BOM;
                    }
                    else if (i == 3)
                    {
                        text = DocumentType.SODO_QC;
                    }
                    else if (i == 4)
                    {
                        text = DocumentType.FMEA;
                    }
                    else if (i == 5)
                    {
                        text = DocumentType.CONTROL_PLAN;
                    }
                    else if (i == 6)
                    {
                        text = DocumentType.QUYTRINH;
                    }
                    else if (i == 7)
                    {
                        text = DocumentType.TIEUCHUANTHAOTAC;
                    }
                    else if (i == 8)
                    {
                        text = DocumentType.KHAC;
                    }
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input bg-common" id="@("res_"+i+"_select")">
                                <label class="custom-control-label" for="@("res_"+i+"_select")">@text</label>
                            </div>
                        </td>
                        <td>
                            <textarea class="no-border bg-common"
                                      rows="2"
                                      id="@("res_"+i+"_docname")"
                                      cols="20"></textarea>
                        </td>
                        <td>
                            <textarea class="no-border bg-common"
                                      rows="2"
                                      id="@("res_"+i+"_docno")"
                                      cols="20"></textarea>
                        </td>
                        <td>
                            <textarea class="no-border bg-common"
                                      rows="2"
                                      id="@("res_"+i+"_plan")"
                                      cols="20"></textarea>
                        </td>
                        <td>
                            <textarea class="no-border bg-common"
                                      rows="2"
                                      id="@("res_"+i+"_infact")"
                                      cols="20"></textarea>
                        </td>
                        <td>
                            <textarea class="no-border bg-common"
                                      rows="2"
                                      id="@("res_"+i+"_pic")"
                                      cols="20"></textarea>
                        </td>
                    </tr>
                }
            }

        </table>

        <hr />
        <p class="text-uppercase font-weight-bold mt-3 mb-3 header-color"><u>Đính kèm file</u></p>
        <div class="group_material mt-3">
            @Html.ValidationMessageFor(m => m.FileAttach, "", new { @class = "text-danger" })
            <textarea class="form-control mt-3"
                      id="FileAttach"
                      name="FileAttach"
                      rows="4"
                      cols="20">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.FileAttach))
            </textarea>
        </div>
       

    </div>
</div>
