
<div>
    <table class="table table-bordered text-dark">
        <thead>
            <tr>
                <th>@Resource.Form_PhatHanh</th>
                <th>@Resource.Form_BaoCao</th>
                <th>@Resource.Form_TruongBP</th>
                <th>@Resource.Form_QAXacNhan</th>
                <th>@Resource.Form_Complete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="form-accept"></td>
                <td class="form-accept"></td>
                <td class="form-accept"></td>
                <td class="form-accept"></td>
                <td class="form-accept"></td>
            </tr>
        </tbody>
    </table>
</div>